.homePage{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url('../../Images/bg.jpg');
    background-size: cover;
    background-position: center;
}

.banner-content{
    position: absolute;
    top: 20%;
    left: 13%;
    /* transform: translate(-50%, -50%); */
    text-align: left;
}

.banner h1 {
    font-size: 60px;
    color: rgb(0,61,41);
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.2em;
    color: rgb(0,61,41);
    margin-bottom: 20px;
}

.banner button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: rgb(0,61,41);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

.banner button:hover {
    background-color: rgb(0, 123, 82);
}

.top-category{
    margin: 50px 10%;
}

.category{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 30px;
    height: 250px;
}

.top-category h1{
    text-align: left;
    margin-bottom:15px;
}

.category div{
    border: none;
    height: 250px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.img-cat h3{
    color: white;
}

.img-cat:hover{
    transform: scale(1.1);
}

.itemgrid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    overflow-x: auto;
    gap: 20px;
    scrollbar-width: none;
    overflow-x: auto;
    align-items: center;
    width: 80%;
    margin: auto;
}

.itembox {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
}

.itembox img{
    width: 50%;
    height: 200px;
}

.brand h1{
    text-align: left;
    margin: 5% 8%;
    margin-bottom:15px;
}

#brand-grid{
    width: 84%;
    gap: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, auto) !important;
}

.brand-item{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(245, 246, 246);
    border: rgb(245, 246, 246) solid 1px;
    transition: border 0.3s ease-in-out;
}

.brand-item:hover {
    border: grey solid 1px;
}

.brand-item>img {
    transition: transform 0.3s;
}

.brand-item>img:hover {
    transform: scale(1.1);
}

.discount>h1{
    text-align: left;
    margin: 5% 8%;
    margin-bottom:15px;
}

.discountgrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 85%;
    margin: auto;
    gap: 20px;
}

.discountbox{
    overflow: hidden;
    box-sizing: border-box !important;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

.discountbox h3{
    font-size: 20px;
    margin-bottom:10px;
}

.discountbox h2{
    font-size: 35px;
    margin-bottom:5px;
}

.discountimg {
    width: 100%;
    transition: transform 0.3s;
}

.discountimg:hover {
    transform: scale(1.2);
}

.midBanner{
    margin-top: 100px;
    background-image: url('https://img.freepik.com/premium-photo/living-room-modern-style-with-sofa-chair-yellow-green-wall-background_258219-553.jpg?w=996');
    display: flex;
    align-items: center;
    justify-content: right;
    background-size: cover;
}

#middlebox{
    box-sizing: border-box;
    padding: 50px;
    color: white;
    overflow: hidden;
    width: 500px;
    height: 470px;
    background-color: rgb(0, 61, 41);
    margin: 100px;
    text-align: left;
}

#middlebox h1{
    margin-bottom: 20px;
    font-size: 50px;
}

#middlebox p{
    margin-bottom: 40px;
    font-size: 25px;
}

#middlebox button{
    background-color: transparent;
    color: white;
    border-radius: 50px;
    border: 1px solid white;
    font-size: 25px;
    padding: 10px;
}