
#navbar {
  justify-content: center;
  width: 100%;
  margin: auto;
  text-align: center;
  align-items: center;
  gap: 10%;
  padding: 10px 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  font-weight: bold;
}
.hide {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  align-items: center;
}

#topbar {
  font-size: small;
  width: 100%;
  justify-content: space-between;
  background-color: rgb(0, 61, 41);
  text-align: center;
  align-items: center;
  color: white;
  padding: 0 5%;
  gap: 20px;
}

#topbar select {
  font-size: small;
}

#topbar option {
  padding: 5px;
  color: black;
  font-size: small;
}

.search {
  opacity: 1;
  position: absolute;
  padding: 20px;
  background-color: white;
  border: rgb(0, 61, 41) solid 1px;
  width: 350px;
  margin-top: 20px;
  height: max-content;
  max-height: 400px;
  overflow-y: auto;
  scroll-behavior: smooth;
  border-radius: 10px;
}

#acc {
  display: flex;
  width: 10%;
  gap: 10%;
  justify-content: center;
}

.search::-webkit-scrollbar {
  width: 5px;
  height: 100px;
}

.search::-webkit-scrollbar-track {
  background: white;
}

.search::-webkit-scrollbar-thumb {
  background-color: lightcoral;
  border-radius: 20px;
}

.search::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 61, 41);
}

.link {
  color: rgb(0, 61, 41);
  font-weight: normal;
  transition: color 0.3s, font-weight 0.3s;
}

.link:hover {
  color: orangered;
  font-weight: bold;
}

@media only screen and (max-width: 850px) {
  .searchbar {
    display: none;
  }

  #topbar {
    display: none;
  }

  #navbar {
    width: 100%;
    justify-content: center;
    gap: 0%;
    margin: 0px;
  }
  #acc {
    display: flex;
    width: 30%;
    gap: 20%;

    justify-content: center;
  }

  .hide {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .searchbar {
    display: none;
  }

  #topbar {
    display: none;
  }

  .hide {
    display: none;
  }

  #acc {
    display: flex;
    width: 20%;
    gap: 5%;

    justify-content: center;
  }

  #navbar {
    width: 100%;
    justify-content: center;
    gap: 0%;
    margin: 0px;
  }
}

@media only screen and (max-width: 400px) {
    .searchbar {
      display: none;
    }
  
    #topbar {
      display: none;
    }
  
    .hide {
      display: none;
    }
  
    #acc {
      display: flex;
      width: 10%;
      gap: 5%;
      justify-content: center;
    }
  
    #navbar {
      width: 100%;
      justify-content: center;
      gap: 0%;
      margin: 0px;
    }
  } 



