.flexBox{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 70%;
    margin: 30px 5%;
    justify-content: space-between;
    gap: 10px;
}

.flexBox>div:last-child{
    display: flex;
    margin: auto;
}

#paymentgrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 85%;
    gap: 10px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

#paymentgrid>div {
    border-radius: 5px;
    display: flex;
    border: solid grey 1px;
    width: 80px;
    height: 30px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}


.listitem {
    overflow: hidden;
    margin-left: 0;
    transition: margin-left 0.3s ease-out, color 0.3s ease-out;
}

.listitem:hover {
    color: red;
    margin-left: 10px;
    overflow: hidden;
}

.listbox {
    width: 200px;
}

.listbox div{
    text-align: left;
}

.listbox div p{
    margin: 0;
}

.description {
    width: 90%;
    margin-bottom: 20px;
    height: 90px;
    overflow: hidden;
}

@media only screen and (max-width: 850px) {
    .flexBox{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .flexBox>div:last-child{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (max-width: 500px) {
    .footer{
        display: none;
    }
}
