#parentNav {
    background-color: #f5f5f5;
}

.upperNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    background-color: darkgreen;
}

.lowerNav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logo {
    cursor: pointer;
}

.centerNav {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 20px;
}

.content{
    font-size: 1.2em;
    color: #333;
    cursor: pointer;
}

.middle{
    display: flex;
    gap: 20px;
}

.dropbtn {
    font-size: 1.2em;
    color: #333;
    cursor: pointer;
    margin: 0;
    padding: 10px 0px;
}

.dropdown-content {
    display: none;
    width: 550px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Position the dropdown below */
    left: 0; /* Align with the left side of the parent */
}

.a{
    font-size: 1.2em;
    color: #333;
    cursor: pointer;
}

.dropdownDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dropdownInner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 20px;
}

.dropdown-content h3{
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
}

.dropdown-content a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.searchBar{
    border-radius: 10px;
    border: 1px solid #333;
    width: 300px;
    height: 20px;
}

.end{
    display: flex;
    gap: 20px;
}
.end .inner{
    display: flex;
    align-items: center;
}
.icon{
    height: 25px;
}

@media only screen and (max-width: 850px) {
    .upperNav{
        display: none;
    }
    .dropdown-content{
        left: -100px;
    }
    .searchBar{
        display: none;
    }
    .inner h3{
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .upperNav{
        display: none;
    }
    .searchBar{
        display: none;
    }
    .inner h3{
        display: none;
    }
    .middle{
        display: none;
    }
}